{% extends 'base2.html' %}
{% block content %}
{% load static %}
{% static "" as baseUrl %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('.materialboxed').materialbox();
  });

function fun(ownerName){
    console.log(ownerName);
    $('#'+ownerName).trigger('click');
    $('#'+ownerName).css('display', 'inline-block');
}
</script>
<div class="row">
    <div class="col-md-6">
        {% if usertype == "Merchant" %}
        <h2 class="center">Intersted Farmers</h2>
        {% else %}
        <h2 class="center">Intersted Merchants</h2>
        {% endif %}
    </div>
  </div>
<table id="customers" class="bordered centered striped highlight  lighten-3">
    <tr>
            <th class="center">Rating</th>
            <th class="center">Name</th>
            <th class="center">Product Name</th>
            <th class="center">Quantity</th>
            <th class="center">Expected Price</th>
            {% if usertype == "Merchant" %}
            <th class="center"></th>
            <th class="center">View</th>
            <th class="center"></th>
            {% else %}
            <th class="center"></th>
            <th class="center"></th>
            <th class="center"></th>
            {% endif %}
    </tr>
{% for ob in L %}  
{% if not ob.0.status %}
<tr>
<td>{% widthratio  ob.1.totalrating   ob.1.totalcount  1.0   %} stars from {{ ob.1.totalcount }} users</td>    
<td>{{ ob.0.owner.first_name }}</td>
<td>{{ ob.0.name }}</td>
<td>{{ ob.0.quantity }}</td>
<td>{{ ob.0.price }}</td>

<td><a class="btn pink" href="{% url 'chatme' ob.0.owner %}">Chat</a></td>
{% if usertype == "Merchant" %}
<td><a href="#" class="btn green" onclick="fun({{ ob.0.id }})">View</a></td>
<img id="{{ ob.0.id }}" style="display: none;" class="materialboxed" width="650" src="/{{ ob.0.pic_path }}" >
<td><form method="POST" action="{% url 'deal' %}"> {% csrf_token %} <input type="hidden" name="productId" value="{{ob.0.id}}"/><input class="btn" type="submit" value="Buy"></button></form></td>
{% endif %}
</tr>
{% endif %}
{% endfor %}
</table>

{% endblock %}