{% extends 'home.html' %}
{% block content %}
{% load static %}
{% static "" as baseUrl %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('.materialboxed').materialbox();
  });

function fun(ownerName){
    console.log(ownerName);
    $('#'+ownerName.id).trigger('click');
    $('#'+ownerName.id).css('display', 'inline-block');
}
</script>
<div class="row">
    <div class="col-md-6">
        <h2>Intersted Persons</h2>
    </div>
  </div>
<table id="customers">
    <tr>
            <th>Name</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Expected Price</th>
            {% if usertype1 == "Merchant" %}
            <th>View</th>
            {% endif %}
    </tr>
{% for ob in L %}  
<tr>
<td>{{ ob.owner.first_name }}</td>
<td>{{ ob.name }}</td>
<td>{{ ob.quantity }}</td>
<td>{{ ob.price }}</td>
{% if usertype1 == "Merchant" %}
<td><a href="#" onclick="fun({{ob.owner.username}})">View</a></td>
<img id="{{ob.owner.username}}" style="display: none;" class="materialboxed" width="650" src="{{ baseUrl }}{{ob.pic_path}}" %}">
{% endif %}
<td><a href="{% url 'chatme' ob.owner %}">Chat</a></td>
</tr>
{% endfor %}  
</table>
{% endblock %}