{% extends 'base2.html' %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <h2>Previous Deals</h2>
    </div>
  </div>
  {% if deals %}
<table class="striped">
    <tr>
            <th>ProductName</th>
            {% if usertype != "Merchant" %}
            <th>Merchant Name</th>
            {% else %}
            <th>Farmer Name</th>
            {% endif %}
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
    </tr>
{% for d in deals %}  
<tr>
<td>{{ d.product_id.name }}</td>
{% if usertype != "Merchant" %}
<td>{{ d.buyer.first_name }}</td>
{% else %}
<td>{{ d.seller.first_name }}</td>
{% endif %}
<td>{{ d.quantity_sold }}</td>
<td>{{ d.price_sold }}</td>
<td><form action="{% url 'review' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{ d.seller_id }}" name="seller"/>
    <input type="hidden" value="{{ d.buyer_id }}" name="buyer"/>
    <input type="hidden" value="{{ d.id }}" name="deal_id"/>
    <input value="Give review" type="submit" class="btn btn-success" >
</form>
</td>
</tr>
{% endfor %}  
</table>
{% else%}
<div class="card-panel red lighten-3" style="align-self: center;width: 100%;" ><h6>No Previous Deals exist</h6></div>


{% endif %}
{% endblock %}
