{% extends 'base2.html' %}
{% block content %}
        
<script>
$(document).ready(function(){
   $('.modal').modal();
   $('.dropdown-trigger').dropdown();
});      
</script>
  
</head>
<div class="row">
        <div class="col-md-6">
            <h2 class="center">Today's Market</h2>
            <a class='col dropdown-button btn  pink lighten-2' style="width:170px;" href='#' data-activates='dropdown1'>Select City<i class="material-icons">arrow_drop_down</i></a>
        </div>
</div>
      
      <ul id='dropdown1' class='dropdown-content'>
        {% for m in city %}
        <li><a href="{% url 'sortby' m.city %}">{{m.city}}</a></li>
        {% endfor %}
      </ul> 
     <div class="container" style="width:90%;">      
      <table  id="customers" class="bordered centered striped highlight brown lighten-3">
        <tr>
                <th class="center">Product Name</th>
                <th class="center">Category</th>
                <th class="center">Min price</th>
                <th class="center">Max price</th>
        </tr>
{% for ob in M %}  
  <tr>
    <td>{{ ob.name }}</td>
    <td>{{ ob.category }}</td>
    <td>{{ ob.minprice }}</td>
    <td>{{ ob.maxprice }}</td>
  </tr>
{% endfor %}
</table>
</div>
<br/>
<div class="row center">     
    <a href="{% url 'loggedin' %}" class="btn btn-info" role="button" >Back to Home</a>
</div>
{% endblock %}