<div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alpha</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>10.00</td>
                </tr>
            </tbody>
        </table>
</div>                   