{% extends 'base2.html' %}
{% block content %}



  <div class="row" style="width:100%;align-self: center">
    
      <div class="card cyan darken-2 ">
        <div class="card-content white-text" >
          <span class="card-title" style="align-content:center;"><h5>Profile</h5></span><hr>
          
          <div class="card-content"></div>
              <h5>Name: {{uinfo.userid.first_name}}  {{uinfo.userid.last_name}}</h5>
                <h5>City: {{uinfo.city}}</h5>
                <h5>Mobile Number: {{uinfo.mob}}</h5>
                <h5>Email: {{uinfo.userid.email}}</h5>
                <h5>Total Rating: {{star}} from {{rating.totalcount }} users.</h5>
                
        </div>
    
       
      </div>
    </div>
  </div>
{% endblock %}